{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1 class="text-center mt-3">Welcome to Message Board 🎮!</h1>
<p>Message Board is a simple yet powerful platform designed for open discussions, idea sharing, and community engagement. Whether you're looking to start conversations, ask questions, or share insights, this platform provides a space where users can freely express their thoughts and connect with others.</p>
<div>
    <h2 class="text-center mt-3">How It Works</h2>
    <ul>
        <li>
            <p><strong>Create an Account</strong> – Sign up and join the discussion.</p>
        </li>
        <li>
            <p><strong>Post & Share</strong> – Start a new discussion or reply to existing ones.</p>
        </li>
        <li>
            <p><strong>Engage with the Community</strong> – Like, comment, and interact with other users’ posts.</p>
        </li>
        <li>
            <p><strong>Stay Updated</strong> – Follow topics and discussions that interest you.</p>
        </li>
    </ul>
</div>
{% endblock content %}